<!DOCTYPE html>
<html>
<head>
  <title>Functional Flat Finder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="Appheader">
    <h1><%= link_to "Functional Flat Finder", root_url%></h1>

  </header>

<%= yield %>

</body>
<footer>
  <%= link_to "Neha Shah", "http://nehashah.info" %>
</footer>
</html>
